# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
xscrapers.egg-info/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# VS Code settings
.vscode

# pylint settings
.pylintrc

# test files
covid.py
test.py
test_2.py
compilation_info.md

# log files
*.log
# log directory
log/

# Sphinx documentation
docs/_build/

# drivers
drivers/
